li {
    background-image: url(/src/assets/pokeball.png);
    background-repeat: no-repeat;
    list-style: none;
    background-position: left center;
    padding: 3px 0 4px 35px;
    background-size: 20px;
    cursor: pointer;
}

li:hover {
    background-color: #D9D9D9;
}

#pokedex {
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

.pokedexImage {
    width: 400px;
    position: absolute;
    z-index: -1;
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 140px;
}

.list {
    width: 250px;
    max-height: 110px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid var(--primary-gray);
    box-shadow: 0px 3px 0px var(--primary-red);
    padding: 0px 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.searchBar {
    width: 240px;
    padding: 10px 15px;
    border: 1px solid var(--primary-gray);
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 3px 0px var(--primary-red);
}

.searchButton {
    width: 130px;
    padding: 10px;
    background-color: var(--primary-blue);
    border-radius: 5px;
    border: 1px solid var(--primary-gray);
    box-shadow: 0px 3px 0px var(--primary-red);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}